modules = ["python-3.12"]
run = "streamlit run app.py"

[nix]
channel = "stable-24_05"
packages = ["arrow-cpp", "glibcLocales", "pkg-config"]

[deployment]
run = ["sh", "-c", "streamlit run app.py"]

[[ports]]
localPort = 8501
externalPort = 80
